.all{
}

.container{
    position: relative;
}

.title {
    font-family: "BW Haas Head";
    font-size: 10vw;
    font-weight: bold;

    position: absolute;
    left:20%;
    right:20%;
    top: 1vw;
    margin:auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.subtitle {
    font-family: "BW Haas Head";
    font-size: 4vw;
    font-weight: bold;

    position: absolute;
    left:20%;
    right:20%;
    top: 13vw;
    margin:auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.backdrop{
    position: absolute;
    width: 62vw;
    height: 8vw;
    top: 25%;
    left: -0.5%;
    z-index: -1;
    background-color: #FF4081;
}

.link{
    text-decoration:none;
    color: black;
}

.buttons {
    position: absolute;
    left:20%;
    right:20%;
    margin:auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button {
    font-family: "BW Haas Head";
    font-size: 2.5vw;
}

.button:hover{
    font-style: italic;
}

.button-g {
    position: absolute;
    top: 26vw;
}

.button-i {
    position: absolute;
    top: 30vw;  
}
.button-l {
    position: absolute;
    top: 34vw;
}
.button-r {
    position: absolute;
    top: 38vw;   
}

.shadow{
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: 50%;
    left: -4%;
    z-index: -1;
    background-color: #FF4081;
}
