/*Mobile Scaling----------------------------------------------------------------*/

/*@media screen and (max-width: 768px), (orientation: portrait), (aspect-ratio: 16/9), (aspect-ratio: 18/9) {
    .all{
    }

    .container{
        position: relative;
    }

    .title {
        font-family: "Roboto";
        font-size: 9vw;
        font-weight: normal;

        position: absolute;
        left:22%;
        right:22%;
        top: 1vw;
        margin:auto;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .subtitle {
        font-family: "Roboto";
        font-size: 3.5vw;
        font-weight: bold;

        position: absolute;
        left:22%;
        right:22%;
        top: 11vw;
        margin:auto;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }


    .link{
        text-decoration:none;
        color: black;
    }

    .buttons {
        position: absolute;
        left:22%;
        right:22%;
        margin:auto;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .button {
        font-family: "Roboto";
        font-size: 2.5vw;
    }

    .button:hover{
        font-style: italic;
    }

    .button-g {
        position: absolute;
        top: 22vw;
    }

    .button-s {
        position: absolute;
        top: 26vw;
    }

    .button-i {
        position: absolute;
        top: 30vw;  
    }
    .button-l {
        position: absolute;
        top: 34vw;
    }
    .button-r {
        position: absolute;
        top: 38vw;   
    }

    .shadow{
        position: absolute;
        width: 2vw;
        height: 2vw;
        top: 50%;
        left: -4%;
        z-index: -1;
        background-color: #FF4081;
    }
}*/

/*Normal Scaling Here--------------------------------------------------------*/

.all{
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.container{
    position: relative;
}

.title {
    font-family: 'Archivo', sans-serif;
    font-size: 7vw;
    font-weight: 600;
    color: #343434;

    position: absolute;
    left:13%;
    right:13%;
    top: 2vw;
    margin:auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.subtitle {
    font-family: 'Archivo', sans-serif;
    font-size: 1.8vw;
    font-weight: 300;
    font-style: italic;
    color: #343434;

    position: absolute;
    left:13%;
    right:13%;
    top: 11vw;
    margin:auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.bg{
    background-color: #F4F4F4;
}

.link{
    text-decoration:none;
    color: #343434;
}

.buttons {
    position: absolute;
    left:13%;
    right:13%;
    margin:auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button {
    font-family: monospace;
    font-size: 2.5vw;
    font-weight: 700;
    text-transform: uppercase;
}

.button:hover{
    font-style: italic;
    
}

.button-g {
    position: absolute;
    top: 22.5vw;
}

.button-s {
    position: absolute;
    top: 22.5vw;  
    left: 26vw;
}

.button-i {
    position: absolute;
    top: 22.5vw;   
    left: 50vw;
}
.button-l {
    position: absolute;
    top: 30vw;

}
.button-r {
    position: absolute;
    top: 30vw;
    left: 26vw;
}
.button-d {
    position: absolute;
    top: 30vw;
    left: 50vw;
}

.shadow{
    position: absolute;
    display: block;
    width: 1vw;
    height: 2vw;
    top: 55%;
    right: -5vw;
    z-index: -1;
    outline: #343434 solid .35vw;
}

.shadow-g{
    background-color: #BCBCBC;
    right: -7.7vw;
}

.shadow-s{
    background-color: #C1FFC0;
}

.shadow-i{
    background-color: #FFDE79;
}

.shadow-l{
    background-color: #79B7FF;
}

.shadow-r{
    background-color: #FF7979;
    right: -9.2vw;
}

.shadow-d{
    background-color: #FABCFF;
    right: -11.9vw;
}
